<ul>
  <li><a [routerLink]="['/homes']" routerLinkActive="active" id="home_link" style="z-index: 0;">Home</a></li>
  <li><a routerLinkActive="active" [routerLink]="['/news']"id="news_link" style="z-index: 0;">News</a></li>
  <li><a routerLinkActive="active" [routerLink]="['/contacts']" id="contact_link" style="z-index: 0;">Contact</a></li>
  <li><a routerLinkActive="active" [routerLink]="['/about']" id="about_link" style="z-index: 0;">About</a></li>
</ul>


<!--<tour-overlay></tour-overlay>-->
<!--<button name="button" (click)="startTour()"> START!</button>-->

<!--<tour-step order="1" selector="home_link" ng-reflect-selector="home_link" ng-reflect-order="1">-->
  <!--<div class="content">-->
    <!--<b>Home</b>-->
  <!--</div>-->
<!--</tour-step>-->

<!--<tour-step order="2" selector="news_link" ng-reflect-selector="news_link" ng-reflect-order="2">-->
  <!--<div class="content">-->
    <!--<b>News</b>-->
  <!--</div>-->
<!--</tour-step>-->

<!--<tour-step order="3" selector="contact_link" ng-reflect-selector="contact_link" ng-reflect-order="3">-->
  <!--<div class="content">-->
    <!--<b>Contact</b>-->
  <!--</div>-->
<!--</tour-step>-->

<!--<tour-step order="4" selector="about_link" ng-reflect-selector="about_link" ng-reflect-order="4">-->
  <!--<div class="content">-->
    <!--<b>About</b>-->
  <!--</div>-->
<!--</tour-step>-->

<!--<tour-step order="5" selector="footer" ng-reflect-selector="about_link" ng-reflect-order="5">-->
  <!--<div class="content">-->
    <!--<b>Footer</b>-->
  <!--</div>-->
<!--</tour-step>-->
