<div style="text-align:center">
  <h1>
    {{ about }}
  </h1>
</div>


<h3>
  ABOUT US
</h3>
There is a reason why we take pride in branding ourselves the best programming language institute in Delhi. Our instructors, graduates from Stanford University, IITs, IIITs, are Master craftsmen with years of industry experience at Facebook, Amazon, American Express, Times Internet, etc. At Coding Ninjas, our mission is to continuously innovate the best ways to train the next generation of developers and to transform the way tech education is delivered. We’re constantly evolving the ways in which we train amazing developers, as staying stagnant is not an option. We approach our educational philosophy as a never-ending journey of self-improvement, and we apply it to everything we do


<h3>
  ABOUT US
</h3>
There is a reason why we take pride in branding ourselves the best programming language institute in Delhi. Our instructors, graduates from Stanford University, IITs, IIITs, are Master craftsmen with years of industry experience at Facebook, Amazon, American Express, Times Internet, etc. At Coding Ninjas, our mission is to continuously innovate the best ways to train the next generation of developers and to transform the way tech education is delivered. We’re constantly evolving the ways in which we train amazing developers, as staying stagnant is not an option. We approach our educational philosophy as a never-ending journey of self-improvement, and we apply it to everything we do



<h3>
  ABOUT US
</h3>
There is a reason why we take pride in branding ourselves the best programming language institute in Delhi. Our instructors, graduates from Stanford University, IITs, IIITs, are Master craftsmen with years of industry experience at Facebook, Amazon, American Express, Times Internet, etc. At Coding Ninjas, our mission is to continuously innovate the best ways to train the next generation of developers and to transform the way tech education is delivered. We’re constantly evolving the ways in which we train amazing developers, as staying stagnant is not an option. We approach our educational philosophy as a never-ending journey of self-improvement, and we apply it to everything we do



<h3>
  ABOUT US

</h3>
There is a reason why we take pride in branding ourselves the best programming language institute in Delhi. Our instructors, graduates from Stanford University, IITs, IIITs, are Master craftsmen with years of industry experience at Facebook, Amazon, American Express, Times Internet, etc. At Coding Ninjas, our mission is to continuously innovate the best ways to train the next generation of developers and to transform the way tech education is delivered. We’re constantly evolving the ways in which we train amazing developers, as staying stagnant is not an option. We approach our educational philosophy as a never-ending journey of self-improvement, and we apply it to everything we do


<h3>
  ABOUT US
</h3>
There is a reason why we take pride in branding ourselves the best programming language institute in Delhi. Our instructors, graduates from Stanford University, IITs, IIITs, are Master craftsmen with years of industry experience at Facebook, Amazon, American Express, Times Internet, etc. At Coding Ninjas, our mission is to continuously innovate the best ways to train the next generation of developers and to transform the way tech education is delivered. We’re constantly evolving the ways in which we train amazing developers, as staying stagnant is not an option. We approach our educational philosophy as a never-ending journey of self-improvement, and we apply it to everything we do

<h3>
  ABOUT US
</h3>
There is a reason why we take pride in branding ourselves the best programming language institute in Delhi. Our instructors, graduates from Stanford University, IITs, IIITs, are Master craftsmen with years of industry experience at Facebook, Amazon, American Express, Times Internet, etc. At Coding Ninjas, our mission is to continuously innovate the best ways to train the next generation of developers and to transform the way tech education is delivered. We’re constantly evolving the ways in which we train amazing developers, as staying stagnant is not an option. We approach our educational philosophy as a never-ending journey of self-improvement, and we apply it to everything we do

<h3>
  ABOUT US
</h3>
There is a reason why we take pride in branding ourselves the best programming language institute in Delhi. Our instructors, graduates from Stanford University, IITs, IIITs, are Master craftsmen with years of industry experience at Facebook, Amazon, American Express, Times Internet, etc. At Coding Ninjas, our mission is to continuously innovate the best ways to train the next generation of developers and to transform the way tech education is delivered. We’re constantly evolving the ways in which we train amazing developers, as staying stagnant is not an option. We approach our educational philosophy as a never-ending journey of self-improvement, and we apply it to everything we do

<h3>
  ABOUT US
</h3>
There is a reason why we take pride in branding ourselves the best programming language institute in Delhi. Our instructors, graduates from Stanford University, IITs, IIITs, are Master craftsmen with years of industry experience at Facebook, Amazon, American Express, Times Internet, etc. At Coding Ninjas, our mission is to continuously innovate the best ways to train the next generation of developers and to transform the way tech education is delivered. We’re constantly evolving the ways in which we train amazing developers, as staying stagnant is not an option. We approach our educational philosophy as a never-ending journey of self-improvement, and we apply it to everything we do


<h3>
  ABOUT US
</h3>
There is a reason why we take pride in branding ourselves the best programming language institute in Delhi. Our instructors, graduates from Stanford University, IITs, IIITs, are Master craftsmen with years of industry experience at Facebook, Amazon, American Express, Times Internet, etc. At Coding Ninjas, our mission is to continuously innovate the best ways to train the next generation of developers and to transform the way tech education is delivered. We’re constantly evolving the ways in which we train amazing developers, as staying stagnant is not an option. We approach our educational philosophy as a never-ending journey of self-improvement, and we apply it to everything we do


<h3 id="hey_there">
  ABOUT US
</h3>
There is a reason why we take pride in branding ourselves the best programming language institute in Delhi. Our instructors, graduates from Stanford University, IITs, IIITs, are Master craftsmen with years of industry experience at Facebook, Amazon, American Express, Times Internet, etc. At Coding Ninjas, our mission is to continuously innovate the best ways to train the next generation of developers and to transform the way tech education is delivered. We’re constantly evolving the ways in which we train amazing developers, as staying stagnant is not an option. We approach our educational philosophy as a never-ending journey of self-improvement, and we apply it to everything we do






