<!--<app-header [selectedNav]="selectedTab"></app-header>-->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<tour-overlay></tour-overlay>
<button name="button" (click)="startTour()"> START!</button>

<tour-step order="1" selector="home_link" selector="home_link">
  <div class="content">
    <b>Home</b>
  </div>
</tour-step>

<tour-step order="2" selector="news_link" selector="news_link">
  <div class="content">
    <b>News</b>
  </div>
</tour-step>

<tour-step order="3" selector="contact_link" selector="contact_link">
  <div class="content">
    <b>Contact</b>
  </div>
</tour-step>

<tour-step order="4" selector="about_link" selector="about_link">
  <div class="content">
    <b>About</b>
  </div>
</tour-step>

<tour-step order="5" selector="footer_id" selector="footer_id" defaultLayer="2" >
  <div class="content">
    <b>Footer</b>
  </div>
</tour-step>

<!--defaultLayer: number-->
